[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rchemo"]
	path = rchemo
	url = https://github.com/chemhouse-group/rchemo
	shallow = true
	registered = true
